.boxcontainer {
    font-family: Helvetica;
    font-size: 2.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 52vh;
}

.aboutMdhl {
    display: flex;
    justify-content: center;
    background: rgb(45, 116, 107);
    color: rgb(48, 185, 132);
    width: 100%;
}

section article {
    width: 60%;
}

section article h2 {
    display: flex;
    justify-content: center;
}

@media (max-width: 693px) {
    .boxcontainer {
        height: 71vh;
    }

    section article {
        width: 90%;
    }
}