main {
    font-family: sans-serif;
}


.rulesOfPlay {
    display: flex;
    justify-content: center;
    background: rgb(45, 116, 107);
    color: rgb(48, 185, 132);
    width: 100%;
    margin: 0%;
    height: 6vh;
}

.boxcontainer {
    font-family: Helvetica;
    font-size: 2.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 92vh;
}

section article {
    width: 60%;
}

article h2 {
    display: flex;
    justify-content: center;
}

article p {
    margin-top: 15px;
}