* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: rgb(95, 161, 153);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}



header {
    height: 30vh;
}


.bannercontainer {
    background-image: url(../utils/design1_image2.png);
    height: 80%;
    background-position: bottom;
}

.logocontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}

.logo {
    width: 30vh;
    height: 30vh;
    position: absolute;
    top: 0%;
}

.navcontainer1 {
    background: rgb(248, 225, 46);
    text-decoration: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navcontainer1>li {
    font-weight: bold;
    padding: 7px;
    margin: 0 7px;
    list-style: none;
}

a:link {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}

li:hover {
    background: black;
    color: yellow;
}

.events {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-family: Helvetica;
    background: rgb(45, 116, 107);
    color: rgb(48, 185, 132);
    width: 100%;
    margin: 0%;
}

.boxcontainer {
    font-family: Helvetica;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}



.FirstGame {
    margin-left: 15px;
}

main {
    height: 65vh;
}

footer {
    background: rgb(45, 116, 107);
    width: 100%;
    padding: 10px;
    height: 5vh;
}

footer p {
    display: flex;
    justify-content: start;
}


@media (max-width: 1080px) {
    .logo {
        display: none;
    }

    .bannercontainer {
        height: 10vh;
    }

    header {
        height: 7vh;
    }


    main {
        height: 68vh;
    }

    footer {
        height: 7vh;
        font-size: 12px;
    }

    .MightyHockey {
        position: absolute;
        text-align: center;
        width: 100%;
        font-family: Helvetica;
        font-weight: bold;
        font-size: 20px;
        color: yellow;
        -webkit-text-stroke: 1px rgb(198, 72, 50);

    }

    .events {
        font-size: 20px;
    }

    .Mighty {
        margin: 0%;
    }

    .Hockey {
        margin: 0%;
    }


    .textcontainer {
        margin: 30px;
    }

    .September1 {
        margin: 0%;
        display: flex;
        justify-content: center;
    }

    .August16 {
        margin: 0%;
        display: flex;
        justify-content: center;
    }

    .August4 {
        margin: 0%;
        display: flex;
        justify-content: center;
    }

}

@media (min-width: 1080px) {
    .MightyHockey {
        display: none;
    }
}